<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pet.pet_name }}</title>
  </head>
  <body>
    <h1>{{ pet.pet_name }}</h1>
    <h2>Did you know?</h2>
    {% if pet.pet_fact %}
    <p>{{ pet.pet_fact }}</p>
    {% endif %}
    <img
      src="{{ pet.pet_photo }}"
      alt="{{ pet.pet_name }}"
      style="width: 200px"
    />
    <p>
      <a href="{{ url_for('pet.index') }}">Go Home</a>
    </p>
  </body>
</html>